* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 0;
  background: #f1f5f9;
  color: #1e293b;
  line-height: 1.7;
}

/* NAVBAR */
nav {
  background: #020617;
  padding: 14px 0;
  text-align: center;
}

nav a {
  color: #e5e7eb;
  margin: 0 16px;
  text-decoration: none;
  font-weight: 600;
}

nav a:hover {
  color: #60a5fa;
}

/* HERO */
header {
  background: linear-gradient(135deg, #020617, #0f172a);
  color: white;
  padding: 70px 20px;
  text-align: center;
}

header h1 {
  margin-bottom: 10px;
  font-size: 2.6rem;
}

header p {
  font-size: 1.2rem;
  color: #c7d2fe;
}

/* CONTENT SECTIONS */
section {
  max-width: 1000px;
  margin: 40px auto;
  background: white;
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

section h2 {
  border-left: 5px solid #2563eb;
  padding-left: 12px;
  margin-bottom: 20px;
}

section h3 {
  margin-top: 25px;
  color: #020617;
}

ul {
  padding-left: 20px;
}

ul li {
  margin-bottom: 10px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 25px;
  font-size: 0.9rem;
  color: #64748b;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.profile-container img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #2563eb;
}

.profile-text {
  flex: 1;
}

@media (max-width: 768px) {
  .profile-container {
    flex-direction: column;
    text-align: center;
  }
}
.cv-button {
  display: inline-block;
  margin-top: 18px;
  padding: 12px 26px;
  background: #2563eb;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
  transition: background 0.3s ease;
}

.cv-button:hover {
  background: #1e40af;
}
.social-links {
  margin-top: 12px;
}

.social-links a {
  display: inline-block;
  margin-right: 12px;
  text-decoration: none;
  font-weight: 600;
  color: #2563eb;
}

.social-links a:hover {
  text-decoration: underline;
}
.projects {
  max-width: 1000px;
  margin: auto;
}

.project-card {
  background: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border-left: 5px solid #2563eb;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.project-card h2 {
  margin-top: 0;
  color: #1e293b;
}

.project-card ul {
  padding-left: 20px;
}
.experience {
  max-width: 1000px;
  margin: auto;
}

.experience-card {
  background: #ffffff;
  padding: 22px;
  margin-bottom: 22px;
  border-left: 5px solid #0f766e;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.experience-card h2 {
  margin-top: 0;
  color: #1e293b;
}

.experience-card h3 {
  margin-bottom: 5px;
  color: #334155;
}

.date {
  font-style: italic;
  color: #64748b;
}
